<%= form_for(myCase, as: :case) do |f| %>
  <%= error_messages(myCase) %>

  <%= render :partial => 'shared/form', :locals => {:object => myCase, :f => f } %>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
