<%= form_for(dragon, as: :dragon) do |f| %>
  <%= error_messages(dragon) %>
  
  <%= render :partial => 'shared/form', :locals => {:object => dragon, :f => f } %>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
