<h1>This page may not be viewed</h1>

<!-- Dragon listing is disabled for now -->
<!--
<h1>Listing dragons</h1>
<%= link_to "Destroy ALL dragons", 'destroy_all_dragons' %>

<%= render :partial => 'shared/index', :locals => { :objects => @dragons,
  :specials => {
    'imageURL' => {
      :header => "Image",
      :content => lambda {|dragon| return "<img src='#{dragon.imageURL}' style='width: 50; height: 50;'/>" }
    },
    'isEgg' => {:header => "Is Egg?" },
    'isInMarketplace' => {:header => "Is In Marketplace?" },
    'isMatchDragon' => {:header => "Is Match Dragon?" },
    'stableOrder' => {:header => "Stable Order" },
    'breedTime' => {:header => "Breed time" }
  }
} %>

<br />

<%= link_to 'New dragon', new_geniverse_dragon_path %>
-->
