<%= form_for(activity, as: :activity) do |f| %>
  <%= error_messages(activity) %>

  <%= render :partial => 'shared/form', :locals => {:object => activity, :f => f } %>
  
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
